:root {
  --blue: #00ACDC;
  --black: #000000;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

.header {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picture {
width: 40px;
height: 40px;
margin-left: 50px;
margin-top: 10px;
margin-bottom: 10px;
}

.nav a {
  text-decoration: none;
  color: var(--black);
}
.nav a:hover {
  color: var(--blue);
}

a {
  position: relative;
}

.nav a.is-active::after {
  content: "";
  display: block;
  width: 37px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
  position: absolute;
  left: 0;
 bottom: 0;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 20px;
}

.box1 {
font-weight: 500;
font-size: 12px;
line-height: 100%;
letter-spacing: 0;
text-transform: uppercase;
color: #000000;
}



